{{define "header"}}
  <div class="brand-row">
    <img class="brand-logo" src="{{.LogoURL}}" alt="Logo">
    <div>
      <div class="brand-name">{{.CompanyName}}</div>
      <div class="brand-address">
        {{.CompanyAddressLine1}}<br/>
        {{.CompanyAddressLine2}}
      </div>
    </div>
  </div>
{{end}}